$mainFont: "Lato";
$fontBold: 700;
$fontRegular: 400;
$fontSmall: 300;
$mainColor1: #fba419;
$mainColor2: #ffffff;
$mainColor3: #383738;
$mainColor4: #040404;
$mainColor5: #a3a3a3;
$mainColor6: #bfbfbf;
$mainColor7: #fdd28e;
$mainColor8: #2f2f2f;
$paddingContainer: 0 5em 0 5em;
$smallPaddingContainer: 0 2em 0 2em;